  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        [[ "DASHBOARD" ]]
        <small>[[ "CONTROL_PANEL" ]]</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>[[ "HOME" ]]</a></li>
        <li class="active">[[ "DASHBOARD" ]]</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      

    </section>
    <!-- /.content -->
  </div>
<!-- /.content-wrapper -->